{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

<!-- Add Student Button -->
<a href="{% url 'groups_add' %}" class="btn btn-primary" >Додати Групу</a>

<!-- Start Groups Listing -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><a href="#">№</a></th>
    <th>{% sort_field order_by='title' name='Назва' %}</th>
    <th>{% sort_field order_by='steward__last_name' name='Староста' %}
    </th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
    {% for group in query_set %}
    <tr>
      <td>
        {% if request.GET.reverse == '1' %}
          {{ query_set.paginator.count|decrementing:query_set.end_index|add:forloop.revcounter }}
        {% else %}
          {{ forloop.counter0|add:query_set.start_index }}
        {% endif %}
      </td>
      <td><a title="Редагувати" href="{% url 'groups_edit' group.id %}">
        {{ group.title }}</a></td>
      <td>{% if group.steward %}<a title="Редагувати" href="{% url 'students_edit' group.steward_id %}">
        {{ group.steward }}</a>{% else %} Немає {% endif %}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
            <li><a href="{% url 'groups_edit' group.id %}">Редагувати</a></li>
            <li><a href="{% url 'groups_delete' group.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Start Pagination  -->
{% include "students/includes/django_paginator.html" %}

{% endblock content %}
