{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

<!-- Add Student Button -->
<a href="{% url 'groups_add' %}" class="btn btn-primary" >Додати Групу</a>

<!-- Start Groups Listing -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th>{% sort_field url='groups' order_by='id' name='№' %}</th>
    <th>{% sort_field url='groups' order_by='title' name='Назва' %}</th>
    <th>{% sort_field url='groups' order_by='steward__last_name' name='Староста' %}
    </th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <td>
        {% if request.GET.order_by == 'id' %}{{ groups_pk|order_number:group.pk }}
        {% else %}
        {{ forloop.counter0|add:groups.start_index }}
        {% endif %}
      </td>
      <td><a title="Редагувати" href="{% url 'groups_edit' group.id %}">
        {{ group.title }}</a></td>
      <td>{% if group.steward %}<a title="Редагувати" href="{% url 'students_edit' group.steward_id %}">
        {{ group.steward }}</a>{% else %} Немає {% endif %}</td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="/journal/{{ group.id }}">Відвідування</a></li>
            <li><a href="{% url 'groups_edit' group.id %}">Редагувати</a></li>
            <li><a href="{% url 'groups_delete' group.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
<nav>
  <ul class="pagination">
    <li><a href="{% url 'groups' %}?page=1&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">&laquo;</a></li>
    {% for p in groups.paginator.page_range %}
    <li  {% if groups.number == p %}class="active"{% endif %}>
      <a href="{% url 'groups' %}?page={{ p }}&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">{{ p }}</a>
    </li>
    {% endfor %}
    <li>
      <a href="{% url 'groups' %}?page={{ groups.paginator.num_pages}}&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">&raquo;</a>
    </li>
  </ul>
</nav>
{% endwith %}

{% endblock content %}
