{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block meta_title %}Оцінки{% endblock meta_title %}

{% block title %}Оцінки за екзамени {% endblock title %}

{% block content %}

<!-- Add Quiz Button -->
<a href="{% url 'grades_add' %}" class="btn btn-primary" >Додати Оцінку</a>
<a href="{% url 'grades' %}">детально</a> /
<a href="{% url 'grades_short_list' %}">згорнути</a>

<!-- Start Quiz Listing -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><a href="#">№</a></th></th>
    <th>{% sort_field order_by='quiz_name__subject' name='Екзамен' %}</th>
    <th>{% sort_field order_by='student_name__last_name' name='Студент' %}</th>
    <th>{% sort_field order_by='grade' name='Оцінка' %}</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
    {% for my_grade in query_set %}
    <tr>
      <td>
        {% if request.GET.reverse == '1' %}
          {{ query_set.paginator.count|decrementing:query_set.end_index|add:forloop.revcounter }}
        {% else %}
          {{ forloop.counter0|add:query_set.start_index }}
        {% endif %}
      </td>
      <td><a title="Результати" href="{% url 'quiz_detail_list' my_grade.quiz_name.id %}">
        {{ my_grade.quiz_name }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'grades_edit' my_grade.id %}">
        {{ my_grade.student_name }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'grades_edit' my_grade.id %}">
        {{ my_grade.grade }}</a>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="">Результати</a></li>
           <li><a href="{% url 'grades_edit' my_grade.id %}">Редагувати</a></li>
           <li><a href="{% url 'grades_delete' my_grade.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Start Pagination  -->
{% include "students/includes/django_paginator.html" %}

{% endblock content %}
