{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block meta_title %}Оцінки{% endblock meta_title %}

{% block title %}Оцінки за екзамени {% endblock title %}

{% block content %}

<!-- Add Quiz Button -->
<a href="{% url 'grades_add' %}" class="btn btn-primary" >Додати Оцінку</a>
<a href="{% url 'grades' %}">детально</a> /
<a href="{% url 'grades_short_list' %}">згорнути</a>

<!-- Start Quiz Listing -->
<!--TODO: replace by custom including tag -->
<table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <thead>
  <tr>
    <th>
      <a href="{% url 'grades' %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
        №
        {% if order_by == 'id' and reverse != '1' %}&uarr;
        {% elif order_by == 'id' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{% url 'grades' %}?order_by=quiz_name{% if order_by == 'quiz_name' and reverse != '1' or not request.GET.items %}&amp;reverse=1{% endif %}">
        Екзамен
        {% if not request.GET.items %}&uarr;
        {% elif order_by == 'quiz_name' and reverse != '1' %}&uarr;
        {% elif order_by == 'quiz_name' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{% url 'grades' %}?order_by=student_name{% if order_by == 'student_name' and reverse != '1' %}&amp;reverse=1{% endif %}">
        Студент
        {% if order_by == 'student_name' and reverse != '1' %}&uarr;
        {% elif order_by == 'student_name' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>
      <a href="{% url 'grades' %}?order_by=grade{% if order_by == 'grade' and reverse != '1' %}&amp;reverse=1{% endif %}">
        Оцінка
        {% if order_by == 'grade' and reverse != '1' %}&uarr;
        {% elif order_by == 'grade' and reverse == '1' %}&darr;
        {% endif %}
      </a>
    </th>
    <th>Дії</th>
  </tr>
  </thead>
  {% endwith %}
  <tbody>
    {% for my_grade in grades %}
    <tr>
      <td>
        {% if request.GET.order_by == 'id' %}{{ grades_pk|order_number:my_grade.pk }}
        {% else %}
        {{ forloop.counter0|add:grades.start_index }}
        {% endif %}
      </td>
      <td><a title="Результати" href="{% url 'quiz_detail_list' my_grade.quiz_name.id %}">
        {{ my_grade.quiz_name }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'grades_edit' my_grade.id %}">
        {{ my_grade.student_name }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'grades_edit' my_grade.id %}">
        {{ my_grade.grade }}</a>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="">Результати</a></li>
           <li><a href="{% url 'grades_edit' my_grade.id %}">Редагувати</a></li>
           <li><a href="{% url 'grades_delete' my_grade.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
  <nav>
    <ul class="pagination">
      <li><a href="{% url 'grades' %}?page=1&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">&laquo;</a></li>
      {% for p in grades.paginator.page_range %}
      <li  {% if grades.number == p %}class="active"{% endif %}>
        <a href="{% url 'grades' %}?page={{ p }}&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">{{ p }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="{% url 'grades' %}?page={{ grades.paginator.num_pages}}&amp;order_by={{ order_by|default:order_by_default }}&amp;reverse={{ reverse }}">&raquo;</a>
      </li>
    </ul>
  </nav>
{% endwith %}
{% endblock content %}
