{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block title %}Оцінки за екзамен "{{ query_set.0.quiz_name.subject }}" ({{ query_set.0.quiz_name.date_time.date }}){% endblock title %}

{% block content %}
<!-- Start Quiz Listing -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><a href="#">№</a></th>
    <th>{% sort_field order_by='student_name__last_name' name='Студент' %}</th>
    <th>{% sort_field order_by='grade' name='Оцінка' %}</th>
    <th>{% sort_field order_by='student_name__student_group' name='Група' %}</th>
  </tr>
  </thead>
  <tbody>
    {% for detail in query_set %}
    <tr>
      <td>
        {% if request.GET.reverse == '1' %}
          {{ query_set.paginator.count|decrementing:query_set.end_index|add:forloop.revcounter }}
        {% else %}
          {{ forloop.counter0|add:query_set.start_index }}
        {% endif %}
      </td>
      <td><a title="Переглянути всі оцінки" href="{% url 'grades_student_detail_list' detail.student_name.id %}">
        {{ detail.student_name }}</a>
      </td>
      <td>{{ detail.grade }}</td>
      <td>{{ detail.student_name.student_group }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "students/includes/django_paginator.html" %}

{% endblock content %}