{% extends "students/base.html" %}

{% load static from staticfiles %}

{% load my_filters %}

{% block meta_title %}Іспити{% endblock meta_title %}

{% block title %}Іспити{% endblock title %}

{% block content %}

<!-- Add Quiz Button -->
<a href="{% url 'quiz_add' %}" class="btn btn-primary" >Додати Іспит</a>

<!-- Start Quiz Listing -->
<table class="table table-hover table-striped">
  <thead>
  <tr>
    <th><a href="#">№</a></th>
    <th>{% sort_field order_by='subject' name='Предмет' %}</th>
    <th>{% sort_field order_by='date_time' name='Дата та час складання' %}</th>
    <th>{% sort_field order_by='professor' name='Викладач' %}</th>
    <th>{% sort_field order_by='group_name' name='Група' %}</th>
    <th>Дії</th>
  </tr>
  </thead>
  <tbody>
    {% for quiz in query_set %}
    <tr>
      <td>
        {% if request.GET.reverse == '1' %}
          {{ query_set.paginator.count|decrementing:query_set.end_index|add:forloop.revcounter }}
        {% else %}
          {{ forloop.counter0|add:query_set.start_index }}
        {% endif %}
      </td>
      <td><a title="Редагувати" href="{% url 'quiz_edit' quiz.id %}">
        {{ quiz.subject }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'quiz_edit' quiz.id %}">
        {{ quiz.date_time }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'quiz_edit' quiz.id %}">
        {{ quiz.professor }}</a>
      </td>
      <td><a title="Редагувати" href="{% url 'groups_edit' quiz.group_name_id %}">
        {{ quiz.group_name }}</a>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
           <li><a href="{% url 'quiz_detail_list' quiz.id %}">Результати іспиту</a></li>
           <li><a href="{% url 'quiz_edit' quiz.id %}">Редагувати</a></li>
           <li><a href="{% url 'quiz_delete' quiz.id %}">Видалити</a></li>
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Start Pagination  -->
{% include "students/includes/django_paginator.html" %}

{% endblock content %}
